

.whatsapp {
    position: fixed;
    right: 30px;
    height:50px; 
    bottom:25px;  
    z-index:100;

}

@media (min-width:1140px) {
    .whatsapp {
        right: 10vw;
    }
}

@media (min-width:1240px) {
    .whatsapp {
        right: 15vw;
    }
}

@media (min-width:1640px) {
    .whatsapp {
        right: 10vw;
    }
}



