.header {
    width: 100%;
    height: 80px;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-around;
}


.header span {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.header a {
    text-decoration: none;
    color: var(--color-white);
    padding-right: 1rem;
    font-size: 1.125rem;
}

.header a:hover {
    color: var(--color-brown);
}

.menuMobile {
    display: none;
}
@media (max-width: 1140px) {
   .header a {
      font-size: 1rem;
   }
}

@media (max-width: 1024px) {
   
    .nav_menu {
        display: none;
    }
    .menuMobile {
        display: block;
    }
   
}


