.overlay {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 29;
}
.overlay1 {
    display: none;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 29;
}
.container {
    background-color: var(--color-primary);
    margin-top: 20vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
} 
.container1 {
    display: none;
    background-color: var(--color-primary);
    margin-top: 20vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
} 
.container_one {
    max-width: 800px;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.button {
    width: 250px;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-white);
}

@media (max-width: 780px) {
    .container  {
        padding: 10px;
        height: 450px;
    }
    .button {
        margin-top: 2rem ;
    }
}