.footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: #f2f2f2;
    border-top: 2px solid #1289A6;
    padding-block: 1rem;
    position: relative;
}

.footer h2 {
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #f2f2f2;
}
.footer h2:hover {
    color: var(--color-brown);
}

.container {
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box01 {
    width: 300px;
    height: 200px;
    margin: 1rem;
    margin-right: 5rem;
    
}
.box02 {
    width: 380px;
    height: 200px;
    margin-top: 1rem;
}
.title2 {
    padding-left: 5px;
    margin-bottom: 1rem;
}

.container_one {
    display: flex;
    flex:row;
    align-items: center;
    justify-content: center;
}

.link {
    color: #f2f2f2;
    text-decoration: none;
}

.box_figure {
    background-color: var(--color-secondary);
    width: 63px;
    height: 63px;
    margin: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box_img01 {
    background-color: var(--color-brown);
    width: 40px;
    height: 40px;
    background: url(../Model_container_box4/images/icon-phone-white-40x40.png) no-repeat;

}
.box_img01:hover {
    background-image: url(../Model_container_box4/images/icon-phone-brown-40x40.png) ;
}
.box_img02 {
    background-color: var(--color-brown);
    width: 40px;
    height: 40px;
    background: url(../Model_container_box4/images/icon-geo-white-40x40.png) no-repeat;

}
.box_img02:hover {
    background-image: url(../Model_container_box4/images/icon-geo-brown-40x40.png) ;
}
.box_img03 {
    background-color: var(--color-brown);
    width: 45px;
    height: 45px;
    background: url(../Model_container_box4/images/icon-zap-white-45x45.png) no-repeat;

}
.box_img03:hover {
    background-image: url(../Model_container_box4/images/icon-zap-brown-45x45.png) ;
}
.box_img04 {
    background-color: var(--color-brown);
    width: 40px;
    height: 40px;
    background: url(../Model_container_box4/images/icon-instagram-white-40x40.png) no-repeat;

}
.box_img04:hover {
    background-image: url(../Model_container_box4/images/icon-instagram-brown40x40.png) ;
}




/*menu mobile */
@media (max-width:570px) {
    .footer h2 {
        font-size: 0.8rem;
        font-weight: 300;
    }
}