.container {
    width: 310px;
    height: 580px;
    margin: 5px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 5px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 15px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.boxImg {
    margin: 1px;
    width: 300px ;
    height: 400px;
    padding-top: 1rem;
}


.imgCard {
    width: 300px;
    height: 400px;
}
.titlespan {
    font-size: 1rem;
}

.text {
    margin:0.5px;
    padding-bottom: 2px;
    width: 250px ;
    height: 100px;
    text-align: center;
}

@media (max-width: 1140px) {
    .container {
        width: 250px;
        height: 390px;
        
    }
    .boxImg {
        margin: 1px;
        width: 200px ;
        height: 250px;
        padding-top: 1rem;
    }
    .imgCard {
        width: 200px;
        height: 250px;
    }
    .text {
        margin:0.5px;
        width: 150px ;
        height: 60px;
        text-align: center;
    }
}