.container_one {
    width: 100%;
    background-image: url('./image/img3.jpg');
}


.container {
    margin: auto;
    max-width: 1300px;
    height: 880px;
    padding-bottom: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

}

.box01 {
    width: 400px;
    height: 430px;
    padding: 1rem;
    margin-bottom: 1rem;
   
}
.box01 h2 {
    margin-bottom: 1rem;
    
}
.box01 span {
    font-size: 2.5rem;
    
}
.text_box1 {
    font-family: 'Architects Daughter';
    font-size: 1.38rem;
}
.text1_box1 {
    font-size: 1.38rem;
}

.box03 {
    width: 700px;
    height: 610px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 1.5rem;
    background-color: #ffffff;
    box-shadow: #A65912 2px 2px 15px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   
   
}

@media (max-width: 1140px) {
    .box03 {
        width: 520px;
        height: 400px;
    }
}

@media (max-width: 750px) {
    .box03 {
        width: 500px;
    }
}


@media (max-width: 550px) {
    .box03 {
        width: 270px;
    }
}
