/*confg menu sandwinch*/
@media (max-width: 1024px) {
   
    .menuSandwich {
        display: none;
    }
    .show {
        display: flex;
        width: 50%;
        height: auto;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: var(--color-primary);
        flex-direction: column;
        padding: 20px;
        gap: 1rem;
        z-index: 20;
    }
   
}

@media (max-width: 480px) {
    .show {
        width: 100%;
    }
}

.overlay {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
   
}

.overlayShow {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
