.container {
    margin: auto;
    width: 100%;
    height: 780px;
    background-color: var(--color-white);
    

}
.forever_box {
    margin: auto;
    max-width: 1300px;
    height: 780px;
    padding-bottom: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

}

.box01 {
    width: 400px;
    height: 440px;
    margin-bottom: 0.5rem;
    padding: 1rem;
   
}
.box01 h2 {
    margin-bottom: 1rem;
    
}
.box01 span {
    font-size: 2.5rem;
    
}
.text_box1 {
    font-family: 'Architects Daughter';
    font-size: 1.38rem;
}
.text1_box1 {
    font-size: 1.38rem;
}



.container img {
    width: 550px;
    height: 527px;
    margin-bottom: 1.5rem;
    box-shadow: #1289A6 2px 2px 15px 5px;
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
}

@media (max-width: 1140px) {
    .container {
        height: 870px;
    }
    .container img {
        width: 420px;
        height: 380px;
        margin-top: 1rem;
        
    }
}


@media (max-width: 538px) {
    .container img {
        width: 380px;
        height: 350px;
        
    }
}


